.dotted{
    /* Defines a dotted border */
    border-style: dotted;
        margin-bottom: 1rem;
        background-color: aqua;
        border-width: 5px;
}
.dashed{
    /* Defines a dashed border */
    border-style: dashed;
    margin-bottom: 1rem;
    background-color: beige;
    border-width: medium;

}
.solid{
    /* Defines a solid border */
    border-style: solid;
    margin-bottom: 1rem;
    background-color: bisque;
    border-width: 3px;
    border-radius: 5px;
    /* margin: 25px 50px 75px 100px; */
}

.double{
    /* Defines a double border */
    border-style: double;
    margin-bottom: 1rem;
    border-width: thick;


}
.groove{
    /* Defines a 3D grooved border. The effect depends on the border-color value  */
    border-style: groove;
    margin-bottom: 1rem;
    background-color: chocolate;
    border-width: 6px;
}
.ridge{
    /* Defines a 3D ridged border. The effect depends on the border-color value */
    border-style: ridge;
    margin-bottom: 1rem;
    border-width: 5px;
}
.inset{
/*     Defines a 3D inset border. The effect depends on the border-color value */
    background-color: cornflowerblue;
    border-style: inset;
    margin-bottom: 1rem;

}
.outset{
    /* Defines a 3D outset border. The effect depends on the border-color value */
    border-style: outset;
    margin-bottom: 1rem;
    background-color: darkslategray;

}
.No_border{
    /* Defines no border */
    border-style: none;
    margin-bottom: 1rem;
    background-color: deepskyblue;

}
.hidden{
    /* Defines a hidden border */
    border-style: hidden;
    margin-bottom: 1rem;
    background-color: blueviolet;

}
.mixed{
    /* Defines a mixed border */
    border-style: dotted solid double;
    margin-bottom: 1rem;
    background-color: lightcoral;
    border-width: 4px;


}